@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

#masthead {
    width: auto;
    height: 80px;
}

#astra-footer-menu {
    width: auto;
    height: 60px;
}


.site-logo-img img {
    width: 201px;
    height: 19px;
}

.home-top {
    border-bottom-right-radius:400px 50px !important;
    border-bottom-left-radius:400px 50px !important;
    background-color: #EDE2DA !important;
    box-shadow: 0px 10px 0px 1px #e0d8d2; 
}

.about-us-bottom {
    background-color: #EDE2DA;
}

.about-us-block {
    border-bottom-right-radius:400px 50px ;
    border-bottom-left-radius:400px 50px ;
    background-color: #EDE2DA;
    /* box-shadow: 0px 10px 0px 1px #e0d8d2; */
}


form input[type="submit"], form button[type="submit"] {
    display: block;
    margin: 0 auto; 
    text-align: center; 
}
  

.about-us {
    position: relative;
}

.fleur-img {
    position: absolute;
    top: 215px;
    left: 160px;
    width: auto;
    height: auto;
    max-width: 100%;
} 

.equipe-block {
    position: relative;
}

.fleur-equipe {
    position: absolute;
    right: 30px;
    bottom: -60px;
}


.contact-us label,
.contact-us input,
.contact-us textarea,
.contact-us [type="submit"] {
    position: relative;
    z-index: 2;
}


.form-fleur {
    position: absolute;
    z-index: 1; 
    top: 345px; 
    left: -90px; 
    height: auto; 
}
      
      
.separator-votre-commande {
    border: 1px solid #FFFFFF;
    width: 860px;
}



.gouts-commande {
    width: 850px;
}

/* Centering the form */
.wpcf7 {
    text-align: center; /* Center align the content */
}


.wpcf7 .quantity-input.wpcf7-form-control:not([type=submit]), .wpcf7 quantity-textarea.wpcf7-form-control {
    padding: 10px;
    width: 39px;
    height: 56px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    text-align: center;
    align-self: center;
    border-radius: 0;
    

}












.order-box {
    display: flex;
  }
  
  
  .column {
    flex: 1; 
    padding: 0 20px; 
  }
  
  
  /* .separator {

} */

/* MEDIA QUERIES */

@media (max-width: 1380px) {
    .fleur-img {
        display: none;
    }

    .fleur-equipe {
        display: none;
    }


}
