@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

#masthead {
    width: auto;
    height: 80px;
}

#astra-footer-menu {
    width: auto;
    height: 60px;
}


.site-logo-img img {
    width: 201px;
    height: 19px;
}

.about-us-bottom {
    background-color: #ECE2DA ;
}













.order-box {
    display: flex;
  }
  
  
  .column {
    flex: 1; 
    padding: 0 20px; 
  }
  
  
  .separator {

  }