@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


/* HEADER  */
.site-header-section {
    height: 80px;
}

.admin-link {
    font-size: 16px;
    margin-left: 41px;
    margin-right: 41px;
}

.ast-header-button-1[data-section*="section-hb-button-"] .ast-builder-button-wrap .ast-custom-button {
    padding-top: 15px;
    width: 236px;
    height: 80px;
    text-align: center;
}


/* FOOTER */

.site-above-footer-wrap[data-section="section-above-footer-builder"].ast-footer-row-inline .site-footer-section {
    height: 60px;
}

.site-above-footer-wrap {
    padding-top: 15px;
    padding-bottom: 0;
}


.site-logo-img img {
    width: 201px;
    height: 19px;
}


/* PAGE D ACCUEIL
 */
.home-top {
    border-bottom-right-radius:400px 50px !important;
    border-bottom-left-radius:400px 50px !important;
    background-color: #EDE2DA;
    box-shadow: 0px 10px 0px 1px #e0d8d2; 
}

/* PAGE NOUS RENCONTRER */

.about-us-bottom {
    background-color: #EDE2DA;
}

.about-us-block {
    border-bottom-right-radius:400px 50px ;
    border-bottom-left-radius:400px 50px ;
    background-color: #EDE2DA;
}

/* NOUS CONTACTER FORM 7 */

form input[type="submit"], form button[type="submit"] {
    display: block;
    margin: 0 auto; 
    text-align: center; 
}
  
.about-us {
    position: relative;
}

.fleur-img {
    position: absolute;
    top: 215px;
    left: 160px;
    width: auto;
    height: auto;
    max-width: 100%;
} 

.equipe-block {
    position: relative;
}

.fleur-equipe {
    position: absolute;
    right: 30px;
    bottom: -60px;
}


.contact-us label,
.contact-us input,
.contact-us textarea,
.contact-us [type="submit"] {
    position: relative;
    z-index: 2;
}


.form-fleur {
    position: absolute;
    z-index: 1; 
    top: 417px; 
    left: -85px; 
    height: auto; 
}


/* NOUS CONTACTER FORM 7 */

#wpcf7-f18-p196-o1.wpcf7 {
    text-align: left;
}

.wpcf7 .customer, legend {
    font-size: 20px;
}

.wpcf7 .nous-contacter {
    width: 383px;
    height: 71px;
    border-radius: 7px;
}

.wpcf7 .votre-message {
    width: 383px;
    height: 237px;
    border-radius: 7px;
}

.wpcf7 .envoyer-btn {
    width: 198px;
    height: 55px;
    border-radius: 5px;
    font-size: 15px;
}


/* PAGE COMMANDER */
      
.separator-votre-commande {
    border: 1px solid #FFFFFF;
    width: 860px;
}

.gouts-commande {
    width: 850px;
}

h2, .votre-commande h2 {
    align-self: flex-start;
}

.wpcf7 {
    text-align: center;
}

.wpcf7 .quantity-input.wpcf7-form-control:not([type=submit]), .wpcf7 quantity-textarea.wpcf7-form-control {
    padding: 10px;
    width: 39px;
    height: 56px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    text-align: center;
    align-self: center;
    border-radius: 0;
}

/* COMMANDE FORM 7 */

.order-box {
    display: flex;
}
  
.column {
    flex: 1; 
    padding: 0 20px; 
    text-align: left;
}

p, .order-title.p {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 700;
}

p, .entry-content p {
    margin-bottom: 45px;
}

.wpcf7 .order-label, legend {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    margin-top: 0;
}

.wpcf7 .order.wpcf7-form-control:not([type=submit]), .wpcf7 order-textarea.wpcf7-form-control {
    width: 383px;
    height: 71px;
    border-radius: 7px;
}
  
.separator {
    height: 447px;
    border: 1px solid #FFFFFF; 
    margin-top: 5px;
    margin-left: 40px;
    margin-right: 40px; 
}

.order-btn {
    width: 198px;
    height: 55px;
}

form input[type="submit"], form .order-btn[type="submit"] {
    border-radius: 5px;
}








/* MEDIA QUERIES */

@media (max-width: 1380px) {
    .fleur-img {
        display: none;
    }

    .fleur-equipe {
        display: none;
    }


}

@media (max-width: 600px) {
    /* HOME PAGE */
    h1 {
        font-size: 25px !important;
        padding-top: 0 !important;
    }

    .gallerie-gout-home {
        display: flex;
        flex-direction: column !important;
        width: 400px;
        height: 600px;
        padding-right: 0 !important;
        padding-left: 0 !important;
        align-content: center !important;
    }

    p, .gout-text p {
        display: none !important;
    }

    /* .avis-clients {
        display: flex;
    } */

    .fatiha {
        display: flex;
        flex-direction: column !important;
    }

    /* NOUS RENCONTRER */

    .nous-contacter-block {
        width: 500px !important;
        height: 900px !important;
    }

    .contact-us {
        width: 400px !important;
        height: auto !important;
    }
}

@media (max-width: 420px) {
    h1 {
        font-size: 16px !important;
        margin-top: 20px !important;
    }
}